<!DOCTYPE html>
<html>
<head>
  <title>Harrow Community Network</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :class => "flash #{name}" %>
<% end %>

<%= render 'layouts/header' %>
<div class="container">
<div class="row">
  <div class="span6">
    <%= yield :map %>
  </div>
  <div class="span6">
    <%= yield %>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="span4">
    <%= render 'layouts/footer' %>
  </div>
  <div class="span4">
    <%= render 'layouts/footer2' %>
  </div>
  <div class="span4">
    <%= render 'layouts/footer3' %>
  </div>

  <!--Row for alert -->
  <div class="row">
    <div class="span10 offset1">
    <% unless @accepted_cookies%>
          <%= render :partial => 'layouts/cookie_alert' %>

    <% else %>
          <!--TODO: remove cookie inspect code -->
          <%= render :text => "Cookies #{cookies.inspect}"%>
    <% end %>
    </div>
   </div>
  <!--End of  row -->

</div>
</div>
<!--this is where the gmaps scripts are added-->
<%= yield :scripts %>
</body>
</html>
